.demo {
	color: yellow;
	text-transform: left;
}

/* (6) Universal Selector */
* {
	font-family: "Verdana", sans-serif;
	font-size: 20px;
}

/* (7)Type Selector*/
h1 {
	font-size: 60px;
}

/* (8) ID Selector*/
/*#id-name*/
#head-allcaps {
	text-transform: uppercase;
}

/* (9) Class Selector */
.languagelist {
	background-color: #275dad;
}

/* (10) Attribute Selector*/
ol[type="1"] li {
	border-width:2px;
	border-style:solid;
	border-color:#275dad;
}

/* (11) Adjacent Sibling Selector*/
img + ul {
	list-style-type: none;
}

/* (12)Descendant Selector*/
section img {
	border-radius: 360px;
	height: 150px;
	width: auto;
}

/* (13X) Generic Sibling Generator*/
section p {
	text-align: center;
	color:black;
}

/* (14) Child Selector*/
body > section > ul > li {
	letter-spacing: 10px;
	}